table{
    margin: auto;
    border-collapse: collapse;
    width: 100px;
    height: 200px;
    border: 1px solid black;
}

td{
    border: 1px solid black;
    width: 10px;
    height: 10px;
}

button:hover{
    background-color: rgba(181, 181, 181);
}

.display{
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.clear{
    cursor: pointer;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    background-color: rgba(76, 75, 76);
    outline: none;
    font-size: 1rem;
    display:inline-block;
}

.operand{
    cursor: pointer;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    background-color: rgba(124, 123, 124);
    outline: none;
    font-size: 1rem;
    display:inline-block;
}

.operator{
    cursor: pointer;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    background-color: rgba(255, 152, 50);
    outline: none;
    font-size: 1rem;
    display:inline-block;
}
